/back/Database_Connection/__pycache__
/back/Database_Connection/config.pyknowledge.db
store.db
vector_db.index
knowledge.db
store.db
vector_db.index
/back/Merge/__pycache__
/back/Merge/__pycache__
*.pyc
